**/antigen/debug.log
**/cargo/bin
**/docker/desktop
**/docker/features.json
**/docker/scan
**/docker/contexts
**/.idea/**
**/gnupg/pubring.kbx~
powershell/Microsoft.PowerShell_profile.ps1.bak
AzureToolsForIntelliJ/corelibs*
docker/*daemon*
docker/devenvironments/*
docker/sbom/*
notepad++/backup/*
notepad++/session.xml
**AppImage**
**old**
ssh/environment-DESKTOP-GCPJ12F
ssh/environment-SaigkillsDesk
**.bak**
awesome-terminal-fonts/*
dotbot/*
rustup/update-hashes
rustup/toolchains
ssh/known_hosts
zsh/base16-shell/*
zsh/zplug/*
*.un~*
